body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  height: 100%;
  color: #061771;
}

.card-login {
  background: #fff;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
  width: 400px;
  margin: auto;
}

.card-login .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.card-login .form-signin .title-login {
  color: #061771;
  font-size: 18px;
  margin-bottom: 40px;
}

.card-login .form-signin .checkbox {
  font-weight: 400;
}

.card-login .form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.card-login .form-signin .form-control:focus {
  z-index: 2;
}

.card-login .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card-login .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-login .form-signin .btn-login {
  margin-bottom: 10px;
  color: #fff;
  background-color: #061771;
}

.card-login .form-signin .btn-login:hover {
  background-color: #0f2aad;
  color: #fff;
}

.card-login .form-signin p .register {
  color: #061771;
}

.card-reset {
  background: #fff;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
  width: 400px;
  margin: auto;
}

.card-reset .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.card-reset .form-signin .text-primary {
  color: #061771 !important;
  font-size: 18px;
  margin-bottom: 40px;
}

.card-reset .form-signin .checkbox {
  font-weight: 400;
}

.card-reset .form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.card-reset .form-signin .form-control:focus {
  z-index: 2;
}

.card-reset .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card-reset .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-reset .form-signin .btn-login {
  margin-bottom: 10px;
  color: #fff;
  background-color: #061771;
}

.card-reset .form-signin .btn-login:hover {
  background-color: #0f2aad;
  color: #fff;
}

.card-reset .form-signin p .register {
  color: #061771;
}

.navbar-brand {
  z-index: 2;
  position: relative;
  max-height: 40px;
  text-transform: uppercase;
  font-family: "Concert One", display;
  color: #061771 !important;
  font-size: 25px;
  margin-top: -18px;
}

.navbar-brand span {
  color: #ff7a00;
}

.nb {
  margin-left: 105px;
}

.navbar-light {
  z-index: 2;
  position: relative;
}

.navbar-light .navbar-nav .nav-link {
  color: #061771;
  font-weight: 200;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #061771 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0f2aad;
}

.btn-navbar-right {
  z-index: 2;
  position: relative;
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -16px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #061771;
  color: #fff;
  z-index: 2;
  position: relative;
}

.btn-login:hover {
  background: #0f2aad;
  color: #fff;
}

.btn-eye {
  background-color: #061771;
  color: #fff;
  height: 46px;
  position: fixed;
}

.btn-eye:hover {
  background: #0f2aad;
  color: #fff;
}

header img {
  z-index: 0;
  position: relative;
}

header h1,
header p {
  color: #fff;
  z-index: 2;
  position: relative;
}

header h1 {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: 50px;
  z-index: 2;
  position: relative;
}

header p {
  font-weight: 100;
  font-size: 18px;
  z-index: 2;
  position: relative;
}

header .btn-start {
  background-color: #ff7a00;
  color: #fff;
  z-index: 2;
  position: relative;
}

header .btn-start:hover {
  background-color: #ff9430;
  color: #fff;
}

header::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.favorit-heading {
  margin-top: 84px;
}

.favorit-heading h2 {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: 40px;
}

.favorit-heading p {
  font-size: 18px;
  font-weight: 200;
}

.section-popular-content {
  padding-top: 100px;
}

.section-popular-content .section-popular-travel .card-travel-right {
  min-height: 318px;
  background: #fff;
  color: #fff;
  padding-top: 230px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 25px;
}

.section-popular-content .section-popular-travel .card-travel-right .travel-country {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  position: relative;
  z-index: 1;
  padding-left: 20px;
}

.section-popular-content .section-popular-travel .card-travel-right .travel-location {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  position: relative;
  z-index: 1;
  padding-left: 20px;
  margin-bottom: 10px;
}

.section-popular-content .section-popular-travel .card-travel-right .travel-button {
  padding-left: 20px;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .card-travel-right .travel-button .btn-travel-details {
  background-color: #ff7a00;
  color: #fff;
}

.section-popular-content .section-popular-travel .card-travel-right .travel-button .btn-travel-details:hover {
  color: #fff;
  background-color: #ff9430;
}

.section-popular-content .section-popular-travel .card-travel-right::after {
  content: "";
  display: block;
  width: 90%;
  height: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.section-information-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-information-content .section-information-image .card-information {
  height: 550px;
  margin-top: -20px;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 25px;
}

.section-information-content .blog {
  color: #b1b1b1;
  margin-bottom: 10px;
  font-weight: bold;
}

.section-information-content .blog-title {
  color: #000;
  font-weight: bold;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.section-information-content .blog-description {
  color: #b1b1b1;
  font-weight: 100;
  margin-bottom: 30px;
}

.section-information-content .btn-lihat-detail {
  background-color: #ff7a00;
  color: #fff;
}

.section-information-content .btn-lihat-detail:hover {
  color: #fff;
  background-color: #ff9430;
}

.section-footer {
  background: #fff;
}

.section-footer .title {
  text-transform: uppercase;
  color: #061771;
  font-family: "Concert One", Display;
  font-size: 25px;
  padding-bottom: 10px;
}

.section-footer .title span {
  color: #ff7a00;
}

.section-footer .text-paragraf {
  color: #061771;
  font-weight: 400;
}

.section-footer .title-footer {
  font-weight: 600;
}

.section-footer a {
  color: #061771;
}

.section-details {
  background: #fff;
}

.section-details-header {
  min-height: 310px;
  background: #f2f2f2;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item {
  color: #061771;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #061771;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
  margin-bottom: 70px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .tf .whatsapp {
  color: #061771;
}

.section-details-content .card-details a .location {
  margin-top: 10px;
  color: #061771;
}

.section-details-content .card-details a .fa-whatsapp {
  color: #061771;
}

.section-details-content .card-details .features {
  margin-top: 20px;
}

.section-details-content .card-details .features h3 {
  font-size: 18px;
  color: #061771;
  margin-bottom: 0;
}

.section-details-content .card-details .features p {
  margin-bottom: 0;
  margin-top: -10px;
}

.section-details-content .card-details .features .description {
  margin-left: 5px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .features .icon {
  margin-top: 5px;
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .card-right .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-right .total {
  color: #061771;
}

.section-details-content .card-right .bank .bank-item h3 {
  font-size: 18px;
  font-weight: normal;
  color: #061771;
  margin-bottom: 5px;
}

.section-details-content .card-right .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-right .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-right .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #061771;
}

.section-details-content .card-right .bank .bank-image {
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xactive {
  border: 4px solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .trip-information tr th {
  font-weight: 400;
}

.section-details-content .trip-information tr td {
  color: #b1b1b1;
}

.section-details-content .join-container {
  margin-top: -70px;
}

.section-details-content .btn-join-now {
  background-color: #ff7a00;
  color: #fff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #ff9430;
  color: #fff;
}

.section-paket-wisata {
  padding-top: 40px;
  padding-bottom: 100px;
}

.section-paket-wisata .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-paket-wisata .breadcrumb-item {
  color: #061771;
}

.section-paket-wisata .breadcrumb-item.active {
  font-weight: bold;
  color: #061771;
}

.section-paket-wisata .paket-wisata .card-travel-right {
  min-height: 318px;
  background: #fff;
  color: #fff;
  padding-top: 230px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 25px;
}

.section-paket-wisata .paket-wisata .card-travel-right .travel-country {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  position: relative;
  z-index: 1;
  padding-left: 20px;
}

.section-paket-wisata .paket-wisata .card-travel-right .travel-location {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  position: relative;
  z-index: 1;
  padding-left: 20px;
  margin-bottom: 10px;
}

.section-paket-wisata .paket-wisata .card-travel-right .travel-button {
  padding-left: 20px;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.section-paket-wisata .paket-wisata .card-travel-right .travel-button .btn-travel-details {
  background-color: #ff7a00;
  color: #fff;
}

.section-paket-wisata .paket-wisata .card-travel-right .travel-button .btn-travel-details:hover {
  color: #fff;
  background-color: #ff9430;
}

.section-paket-wisata .paket-wisata .card-travel-right::after {
  content: "";
  display: block;
  width: 90%;
  height: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.section-blog {
  padding-top: 40px;
  padding-bottom: 100px;
}

.section-blog .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-blog .breadcrumb-item {
  color: #061771;
}

.section-blog .breadcrumb-item.active {
  font-weight: bold;
  color: #061771;
}

.section-blog .card-blog {
  border-radius: 10px;
  margin-bottom: 30px;
}

.section-blog .card-blog .section-information-image .card-information {
  margin: 15px;
  min-height: 330px;
  background: #fff;
  color: #fff;
  background-size: cover;
  border-radius: 25px;
}

.section-blog .card-blog .blog {
  padding: 10px 0 0 10px;
  color: #b1b1b1;
  margin-bottom: 10px;
  font-weight: bold;
}

.section-blog .card-blog .blog-title {
  padding: 10px 0 0 10px;
  color: #000;
  font-weight: bold;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
}

.section-blog .card-blog .blog-description {
  padding: 10px 0 0 10px;
  color: #b1b1b1;
  font-weight: 100;
}

.section-blog .card-blog .btn-lihat-detail {
  background-color: #ff7a00;
  color: #fff;
  margin-top: -20px;
}

.section-blog .card-blog .btn-lihat-detail:hover {
  color: #fff;
  background-color: #ff9430;
}

.section-single-post {
  background: #fff;
  padding-bottom: 60px;
}

.section-single-post .section-single-post-header {
  margin-top: -70px;
}

.section-single-post .section-single-post-content {
  padding-top: 110px;
}

.section-single-post .section-single-post-content .breadcrumb {
  background-color: transparent;
  padding: 0;
}

.section-single-post .section-single-post-content .breadcrumb-item {
  color: #061771;
}

.section-single-post .section-single-post-content .breadcrumb-item.active {
  font-weight: bold;
  color: #061771;
}

.section-single-post .section-single-post-content .section-blog .blog-title {
  margin-bottom: 50px;
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  color: #000;
}

.section-single-post .section-single-post-content .section-blog .img-blog {
  width: 1120px;
  height: 500px;
}

.section-single-post .section-single-post-content .section-blog-details {
  color: #b1b1b1;
  margin-top: -70px;
}

.section-single-post .section-single-post-content .published {
  margin-top: 20px;
}

.section-single-post .section-single-post-content .published .writer {
  margin-right: 20px;
  color: #383838;
}

.section-single-post .section-single-post-content .published .fa-pencil {
  margin-right: 5px;
}

.section-single-post .section-single-post-content .published .fa-calendar-days {
  margin-right: 5px;
}

.section-gallery-content {
  padding-top: 40px;
}

.section-gallery-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-gallery-content .breadcrumb-item {
  color: #061771;
}

.section-gallery-content .breadcrumb-item.active {
  font-weight: bold;
  color: #061771;
}

.section-gallery-content .item {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section-gallery-content .item:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.section-success-header {
  background: #fff;
  margin-top: -72px;
  padding-bottom: 64px;
}

.section-success-header .section-success-content {
  height: 90vh;
}

.section-success-header .section-success-content h1 {
  font-weight: 600;
  font-size: 26px;
  color: #061771;
}

.section-success-header .section-success-content p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success-header .section-success-content img {
  margin-top: 75px;
}

.section-success-header .section-success-content .btn-home-page {
  border-radius: 4px;
  background-color: #061771;
  color: #fff;
}

.section-success-header .section-success-content .btn-home-page:hover {
  background-color: #0f2aad;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */